@model IEnumerable<EPostaGonderimApp.ConsumeAPI.Models.KisiViewModels.KisiListVM>

@{
    ViewData["Title"] = "KisiListesi";
}

<h1>Kisi Listesi</h1>
@if (TempData["Alert"]!=null)
	{
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@TempData["Alert"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
	}

<p>
    <a class="btn btn-success" asp-controller="Kisi" asp-action="KisiEkle">Kisi Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPostaAdresi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPostaAdresi)
            </td>
        </tr>
}
    </tbody>
</table>
